.header {
    background:white;
    border:none;
    display: flex;
    padding:10px;
    margin-bottom: 1rem;

    .h-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .h-container > h1 {
        font-size: large;
    }
}